apiVersion: v1
kind: Config
clusters:
  - name: homelab
    cluster:
      server: ${cluster_server}
      certificate-authority-data: ${cluster_ca_b64}
contexts:
  - name: ${sa_name}@homelab
    context:
      cluster: homelab
      namespace: default
      user: ${sa_name}
current-context: ${sa_name}@homelab
users:
  - name: ${sa_name}
    user:
      token: ${token}
